.navbar {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  gap: auto;

  width: 100vw;
  height: 150px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo {
  margin: 0;
  width: 162px;
  height: 81px;

  background: url(../../assets/logo.png);
  background-size:contain;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.org {

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  margin: 0;
  width: 280px;
  height: 60px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  opacity: 0.7;
  cursor: pointer;
  user-select: none;
}


.icon {
  
  margin: 0;
  margin-left: auto;
  
  
}

.org__name {
  margin: 0;
  margin-right: auto;
  width: max-content;
  height: 27px;
  
  font-size: var(--font-size-logo);
  letter-spacing: 0.04em;
  /* identical to box height */
  
  color: var(--text-light);
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}


.Btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
  padding: 0;
}

.svgContainer svg{
  width: 1.2em;
  height: 1.2em;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #ff6c17;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all .3s;
}

.org:hover {
  opacity: 1;
  
}
.org:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.org:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(4px);
}
