.card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  color: var(--text-extralight);
  z-index: -10;
  max-width: 100vw;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.8rem;
  z-index: 100;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  padding: 0.4rem 0.8rem;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  background: rgba(235, 164, 110, 0.35);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow: hidden;
  z-index: 100;
}

.logo__text {
  line-height: 21px;
  height: 21px;
  color: rgb(228, 231, 233);
  opacity: 0;
  z-index: 100;
}

.logo__icon {
  height: 21px;
  aspect-ratio: 1 / 1;
  opacity: 0;
  z-index: 100;
}

.link {
  letter-spacing: 0.03em;
  font-size: var(--font-size-small);
  padding: 0.2rem 0.6rem;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.075);
  margin-left: 1rem;
  width: fit-content;
  overflow: hidden; /* Hide overflow content */
  user-select: none;
  z-index: 100;
}

.title {
  color: var(--brand-primary-light);
  font-size: var(--font-size-subtitle);
  margin-bottom: 0.4rem;
  margin-left: 1rem;
  width: fit-content;
  max-width: 50rem;
  position: relative;
  /* border-right: solid 5px; */
  padding-right: 0.5rem;
  overflow: hidden;
  text-wrap: nowrap;
  z-index: 100;
}
/* Define the pseudo-element for the glowing border */
/* .title::after {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  bottom: 0;
  width: 5px;
  -webkit-box-shadow: 0px 0px 82px 17px #ff6600;
  -moz-box-shadow: 0px 0px 82px 17px rgba(255, 102, 0, 1);
  box-shadow: 0px 0px 82px 17px rgba(255, 102, 0, 1);
} */
.logo:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -4rem;
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  animation: gradient-animation_2 2s linear infinite;
  z-index: 100;
}
.description {
  width: fit-content;
  text-wrap: wrap;
  max-width: 50rem;
  padding: 0.5rem 1.1rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 1rem;
  overflow: hidden;
  transition: all 1s;
  user-select: none;
  cursor: pointer;
  z-index: 100;
}
.title:hover {
  color: var(--brand-accent);
}

@keyframes gradient-animation_2 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #ff6600;
  text-decoration: none;
  position: relative;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  color: var(--brand-primary-light);
  font-size: var(--font-size-subtitle);
  /* -webkit-text-stroke: 1px var(--text-stroke-color); */
}
/* this is the text, when you hover on button */
.hover_text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover_text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
